.text:nth-child(odd) {
  background-color: #4d4d;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.text:nth-child(odd):hover {
  cursor: pointer;
  background-color: #ccc;
}

.link {
  color: black;
  text-decoration: none;
}
